
# Créé par https://www.toptal.com/developers/gitignore/api/java
# Modifier sur https://www.toptal.com/developers/gitignore?templates=java

###Java ###
# Fichier de classe compilé
*.classer

# Fichier journal
*.Journal

# fichiers BlueJ
*.ctxt

# Outils mobiles pour Java (J2ME)
.mtj.tmp/

# Fichiers de package #
*.pot
*.guerre
*.nar
*.oreille
*.Zip *: français
*.tar.gz
*.rar

# journaux de plantage de la machine virtuelle, voir http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Fin de https://www.toptal.com/developers/gitignore/api/java 
